Flask==3.0.2
Flask_Cors==4.0.0
Flask_RESTful==0.3.10
matplotlib==3.8.2
moviepy==1.0.3
numpy==1.26.4
onnxruntime==1.16.3
opencv_python==4.8.1.78
pandas==2.2.1
Pillow==10.2.0
pydub==0.25.1
PyYAML==6.0.1
Requests==2.31.0
scipy==1.12.0
seaborn==0.13.2
setuptools==69.1.1
scikit-image
thop==0.1.1.post2209072238
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.1
wandb==0.16.4
whisper_timestamped==1.14.3
