<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pureblur</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    
</head>
<body>
    <header>
        <img class="logo" src="/static/img/FYP_LOGO.png">
        <a class="logoName">PURE BLUR</a>
        <nav>
            <ul class="nav_links">
                <li></i><a href="upload_v.html">Video</a></li>
                <li><a href="upload_p.html">Photo</a></li>
                <li><a href="upload_a.html">Audio</a></li>
                <li><a href="blood.html">Blood</a></li>
                <li><a href="report.html">Report</a></li>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="main_container" title="1">
            
            <div class="columns">
                <div class="content">
                    <h2>What is "Normal" Blur Effect</h2><br><br><br>
                    <!--water water water-->
                    <p>A yeux mers freles lune maritimes et glaciers, voguais est-ce l'eau taches d'horreurs au florides, d'or tout j'ai fleurs bleu.</p>
                    
                </div>
                <div class="colimg">
                    <img src="/static/img/sample_normal.jpg" alt="blured image"><br>
                    Origial example
                </div>
                
        </div>
    </div>

    <div class="main_container" title="2">
        <div class="columns">
            <div class="content">
                <h2>What is "Blur" Blur Effect</h2><br><br><br>
                <!--water water water-->
                <p>Fatica intendo medesimi e fa primo 'l. Nondimeno porgiamo spezial pregato ma bene. E suo mescolati e grazia noi priegano.</p>
                
            </div>
            <div class="colimg">
                <img src="/static/img/sample_blur.jpg" alt="blured image"><br>
                Blur example
            </div>

        </div>
    </div>

    <div class="main_container" title="3">
        <div class="columns">
            <div class="content">
                <h2>What is "Cover" Blur Effect</h2><br><br><br>
                <!--water water water-->
                <p>Ich mein herz halbverklungnen lauf wieder jenem. Die um erste steigt schauer irrt walten. Vom walten das ach jenem. Gut.</p>

            </div>
            <div class="colimg">
                <img src="/static/img/sample_cover.jpg" alt="blured image"><br>
                Cover example
            </div>

        </div>
    </div>

    <div class="main_container" title="4">
        <div class="columns">
            <div class="content">
                <h2>What is "Mosaic" Blur Effect</h2><br><br><br>
                <!--water water water-->
                <p>Qui bua num eggen o en wirud syrolmom bel halal kegulm. Ez kyul hioll num kyniuhhad anyath ulud, huztuzwa walasth.</p>
                
            </div>

            <div class="colimg">
                <img src="/static/img/sample_mosaic.jpg" alt="blured image"><br>
                Mosaic example
            </div>
           
        </div>
    </div>
</body>
</html>