<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pureblur</title>
    <link rel="stylesheet" href="./static/css/styles.css">

</head>

<body>
    <header>
        <img class="logo" src="/static/img/FYP_LOGO.png">
        <a class="logoName">PURE BLUR</a>
        <nav>
            <ul class="nav_links">
                <li></i><a href="upload_v.html">Video</a></li>
                <li><a href="upload_p.html">Photo</a></li>
                <li><a href="upload_a.html">Audio</a></li>
                <li><a href="blood.html">Blood</a></li>
                <li><a href="homepage.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="main_container" title="1">

        <div class="columns">
            <div class="content">
                <h1>Login</h1>
                <form method="POST" id="loginForm">
                    <label for="username">Name : </label><br><input type="text" name="username" placeholder="Username" required><br>
                    <label for="password">Password : </label><br><input type="password" name="password" id="password" placeholder="Password" required><br>
                    <button type="submit" style="width:130px;">Login</button><br>
                    <button onclick="ToRegister()" style="width:130px;">Register</button><br>
                </form>
            </div>
        </div>
        <script src="static/js/Toregister.js"></script>
</body>

</html>

</html>