body {
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  
  h1 {
    margin-top: 0;
  }
  
  p {
    color: #888;
  }

  tr td:first-child {
    text-align: left;
    min-width: 300px;
}

img{
  margin-top: 150px;
  width: 250px; 
  height: auto;
}

input[type="checkbox"] {
  display: block;

}

input[type="checkbox"] {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.75em;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
  color: #d7d7d7;
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"]:before, .l:after {
  content: "";
  display: block;
}

input[type="checkbox"]:before {
  background-color: #d7d7d7;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}

input[type="checkbox"]:after {
  background: linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
    repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
    radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #d8d8d8;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
  box-sizing: border-box;
}

input[type="checkbox"]:checked {
  background-color: #0096FF;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}

input[type="checkbox"]:checked:before {
  background-color: currentColor;
  transform: translateX(125%)
}

input[type="checkbox"]:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}

button{
  background-color: #5874C6;
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 0 auto;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
  color: #F6F5F5;
}